@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i');

body {
	background: rgb(50, 180, 152);
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #FAFAFA;
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}